=render partial: "/layouts/header"
%h1 Об авторе
%p{align: "center"}
  %font{color: "black", size: "5"}
    Выборный Александр, студент (бакалавр) ВолгГТУ. <br /> 
    vk.com: id63775107 <br />
    twitter.com: @AlexVybornyi
=render partial: "/layouts/footer"
