=render partial: "/layouts/header"
%h1 Hello, whoever You are! Welcome to translator website!
%p{align: "center"}
  %font{color: "black", size: "5"}
    Здесь можешь транслировать свою программу и посмотреть готовые трансляции с языка Милан на язык Си.
=render partial: "/layouts/footer"
